.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
  font-size: 16px;
  font-weight: 600;
  background-color: #42a5f5 !important;
}

.table {
  font-size: 14px;
}

.badge {
  padding: 6px 12px;
  border-radius: 12px;
}

.form-label {
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.pagination .page-link {
  cursor: pointer;
}

.btn-outline-primary {
  border: none !important;
  background: transparent !important;
  color: #0d6efd !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  padding: 6px;
}

  .btn-outline-primary i {
    font-weight: 700;
  }

  .btn-outline-primary:hover {
    color: #084298 !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  .btn-outline-primary:focus {
    box-shadow: none !important;
    outline: none !important;
  }
