################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ERP/FileContentIndex
.vs/
bin/
obj/
*.suo
*.user
