  <!-- Main Card -->
<div class="main-card">
  <div class="header-bar">Work Master</div>

  <div class="form-section">
    <form id="workMasterForm" class="row g-3">

      <div class="col-md-3">
        <label for="workid" class="form-label">Work ID</label>
        <input type="text" id="workid" class="form-control" name="workId" placeholder="Enter Work ID" required />
      </div>

      <div class="col-md-3">
        <label for="worktype" class="form-label">Work Type</label>
        <input type="text" id="worktype" class="form-control" name="workType" placeholder="Enter Work Type" required />
      </div>

      <div class="col-md-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" class="form-control" name="Name" placeholder="Enter Name" required />
      </div>

      <div class="col-md-3">
        <label for="unitprice" class="form-label">Unit Price</label>
        <input type="text" id="unitprice" class="form-control" name="unitPrice" placeholder="Enter Unit Price" required />
      </div>

      <div class="col-md-6">
        <label for="desc" class="form-label">Description</label>
        <textarea id="desc" class="form-control"
                  name="description" placeholder="Enter Description" rows="1" required></textarea>
      </div>

      <div class="col-12 text-center mt-5">
        <button type="submit" class="btn btn-primary px-4">Submit</button>
      </div>
    </form>
  </div>
</div>
